/*Basic css, just used to center some text, and to add color to background as well as a font*/
h1 {
    text-align: center;
}
ul {
    list-style: none;
}
.centered-image{
    text-align: center;
}
footer {
    text-align: center;
}
body {
    background-color:blanchedalmond;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}